* {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

title {
    position: absolute;
}

body {
    font-family: sans-serif;
    cursor: crosshair; 
}


/* Placar */
#txtScore {
    position: absolute;
    font-weight: bold;
    text-shadow: 0 0 8px #48FCFF;
    user-select: none;
    padding: 8px;
    //left: 50px;
    //top: 100px;
}


/* Modal */
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gameOverContainer {

}





/* Tela */




