* {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

body {
    font-family: sans-serif;
    cursor: crosshair; 
}

#txtScore {
    position: absolute;
    font-weight: bold;
    text-shadow: 0 0 8px #48FCFF;
    user-select: none;
    padding: 8px;
    //left: 50px;
    //top: 100px;
}

title {
    position: absolute;
}











